future~=0.18.2
requests~=2.27.1
https://github.com/docker/docker-py/archive/refs/tags/5.0.3.zip
six~=1.16.0
#https://github.com/kragniz/python-etcd3/archive/refs/tags/v0.12.0.zip
numpy
flask
flask_cors
https://github.com/pallets/jinja/archive/refs/tags/3.0.0.zip
pyyaml~=6.0
ttkbootstrap
pika
docker~=5.0.3
jinja2~=3.1.2
etcd3
python-memcached